<br>
<br>
<div class="logSearch">
    <div>
    <img src='assets/images/Logos/Logo.png'>    
    </div>
    <div class="inputSearch">
        <input class="search" type="text">
     </div>
     
        <button  class="buttonIngresar">
          <b>  ingresar</b>
        </button>
        <button  class="buttonRegistro">
            <b>registro</b>
        </button>

</div>
<br>
<br>
<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/categories" routerLinkActive="active">Categorias</a>
    <a routerLink="/products" routerLinkActive="active">Productos</a>
    <a routerLink="/exchanges" routerLinkActive="active">Intercambios</a>
    <a routerLink="/auctions" routerLinkActive="active">Subastas</a>
    <a routerLink="/contact" routerLinkActive="active">Contactos</a>
</nav>
<br>

